button {
	background: #0095f6;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	line-height: 24px;
	margin: 0 12px;
	padding: 0 14px;
}
button:hover {
	background: #00376b;
}

.selected {
	background: #00376b;
	border-color: #00376b;
	cursor: default;
}
